#title {
    font-family : 'Montserrat', sans-serif;
    font-weight: 200;
}


#dimension {
    margin-bottom: 0px;
    font-family : 'Montserrat', sans-serif;
    font-weight : 600;
}

.grid td {
    width: 20px;
    height: 15px;
    border: 1px solid rgb(0, 0, 0);
}

.wall {
    background-color: rgb(62, 62, 62);
}

#target {
    background-color: red;
}

#start {
    background-color: green;
}

.grid td:hover {
    cursor:pointer;
}

.unselected {
    margin: 10px;
    border: 2px solid black;
    padding: 4px;
    float:left;
}

.unselected:hover {
    cursor:pointer;
}

.selected {
    margin: 10px;
    border: 2px solid black;
    padding: 4px;
    float:left;
}

.selected:hover {
    cursor:pointer;
}



#target-button.selected {
    background-color: rgb(198, 54, 54);
    color: white;
}

#start-button.selected {
    background-color: rgb(32, 99, 32);
    color: white;
}


#target-button {
    background-color: rgb(255, 214, 214);
}

#start-button {
    background-color: rgb(214, 255, 214);
}

.grid {
    font-family : 'Montserrat', sans-serif;
    font-weight : 300;
    border: 5px solid black;
    clear: both;
}